/* test2 lesson 3 
Для селектора p задайте свойство color и значение red, 
свойство font-size и значение 20px;*/

p {
  color: red;
  font-size: 20px;
}
/* test3 l3  
* {
  margin: 0;
  padding: 0;
}*/

/* test4 L3 Для тега li отмени свойство  list-style с помощью значения none. 
Задай свойству color значение green; Убедись на примере изменения цвета текста, 
что у тега более высокий приоритет, чем у *. */
li {
  list-style: none;
  color: green;
}

/* test5 l3 */
/* Для класса rule задай задай свойство  list-style и значение upper-roman, 
свойство color и значение navy; */
.rule {
  list-style: upper-roman;
  color: navy;
}

/* test6 L3 */
/* Для класса first-rule добавьте свойство color и значение red.
Для класса last-rule добавьте свойство color и значение green. */
.common-rule {
  list-style: upper-roman;
  font-size: 20px;
}
.first-rule {
  color: red;
}
.last-rule {
  color: green;
}
/* test7 L3  В CSS добавь класс active к селекторам button и link так, чтобы
правило color: red применилось только к элементу button, содержащему одновременно класс btn и active;
правило font-weight: 700 применилось только к элементу a, содержащему одновременно класс link и active.*/
.btn {
  border: none;
  padding: 0.25rem 1.25rem;
}

.link {
  text-decoration: none;
  color: navy;
}
.btn.active {
  color: red;
}
.link.active {
  font-weight: 700;
}
/* test8 L3 */
/* .link: hover, 
.link:focus {
  opacity: 1;
} */

/* test9 L3 Для селектора в виде атрибута [type] задай свойство color со значением white.
Повышаем специфичность. Для селектора в виде тега button и атрибута [type="reset"] 
задай свойство color со значением green */
[type] {
  color: white;
}
button[type='reset'] {
  color: green;
}
/* test10 L3 Для ссылок с атрибутом href, значение которых начинается с ./ задай цвет текста red.
Для ссылок с атрибутом href, значение которых начинается с https задай цвет текста navy.*/
.link {
  text-decoration: none;
}
[href^='./'] {
  color: red;
}
[href^='https'] {
  color: navy;
}

/* test11 L3 
Для атрибутов, заканчивающихся на html задай цвет текста green.
Для атрибутов, заканчивающихся на css задай цвет текста orangered.*/
[href$='html'] {
  color: green;
}
[href$='css'] {
  color: orangered;
}
/* test12 L3 Для атрибутов, содержащих about задай цвет текста green.
Для атрибутов, содержащих com задай цвет текста orangered.*/
.link {
  text-decoration: none;
}
/* test13 L3 Добавь CSS правило с id селектором sending со свойством background-color и значением teal, со свойством color и значением white.
Обрати внимание на то что у id более высокий приоритет, чем у класса.*/
.warning {
  background-color: white;
  color: red;
}
#sending {
  background-color: teal;
  color: white;
}
/* test15 L3 Добавь !important обеим значениям свойств селектора div. 
Обрати внимание на то что у div приоритет изменился и стал более 
высоким чем у инлайн.*/
/* div { 
  background-color: navy !important;
  color: white !important;
}*/
.warning {
  background-color: white;
  color: red;
}
#inline {
  background-color: red;
  color: white;
}

/* оформление текста теория */
.post-title {
  letter-spacing: 10px;
}

.post-text {
  letter-spacing: 5px;
}
.title {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}
.title {
  color: #ffffff;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}
pre {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
}

.title {
  font-family: 'Tangerine', cursive;
}

/* test 17 L3 */
ul {
  padding: 0;
  list-style: none;
}

.menu > .menu-item {
  display: inline-block;
  vertical-align: top;
  opacity: 1;
}

.sub-menu .menu-item {
  opacity: 0;
  margin-left: 100px;
}

.menu-item:hover .menu-item {
  opacity: 1;
}

/* test18 L3 
Добавь к селектору item-1 еще один класс item так, чтобы свойство color: red 
применилось только к первому соседу - элементу с классом item-2 */
.item-1 + li {
  color: red;
}
.item-1 + .item {
  color: red;
}

/* test22 L3 */
.list {
  padding-left: 0;
  list-style: none;
  color: green;
}
.list-link {
  color: green;
}

/* test22 L3 В формате rgb, используя только значения от 0 до 255:

задай классу box белый цвет текста и черный фон
задай классу red максимально красный фон
задай классу green максимально зеленый фон
задай классу blue максимально синий фон*/
.box {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.red {
  background-color: rgb(255, 0, 0);
}

.green {
  background-color: rgb(0, 255, 0);
}

.blue {
  background-color: rgb(0, 0, 255);
}

/* test22 L3
.box {
  color: #fff;
  background-color:#000;
}

.red {
background-color:#f00;
}

.green {
background-color:#0f0;
}

.blue {
background-color:#00f;
} */

/* test26 L3 */
.lightness {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0.5rem;
  text-align: center;
  border: 1px solid gold;
}
.lightness-100 {
  background-color: hsl(0, 100%, 100%);
}
.lightness-75 {
  background-color: hsl(0, 100%, 75%);
}
.lightness-50 {
  background-color: hsl(0, 100%, 50%);
}
.lightness-25 {
  color: hsl(0, 100%, 100%);
  background-color: hsl(0, 100%, 25%);
}
.lightness-0 {
  color: hsl(0, 100%, 100%);
  background-color: hsl(0, 100%, 0%);
}

/* test27 L3 */
.container {
  padding: 1rem;
  background-color: navy;
}

.box {
  width: 200px;
  height: 50px;
  margin: 1rem auto;
  color: #fff;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: orchid;
  border: 4px solid gold;
}

.opacity {
  opacity: 0.5;
}

.opacity:hover,
.opacity:focus {
  opacity: 1;
}

.transparent:hover,
.transparent:focus {
  background-color: ;
}
/* test28 L3 */
[data-color] {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #008;
  color: #fff;
  font-size: 1.5rem;
}

[data-color='rgba']:hover {
  background-color: rgba(0, 0, 136, 0.5);
}

[data-color='hsla']:hover {
  background-color: hsla(240, 100%, 27%, 0.5);
}

[data-color='hexa']:hover {
  background-color: #00008a80;
}
/* test1 L4 */
p {
  text-indent: 40px;
}
/* test2 L4 */
.columns {
  text-indent: 40px;
  column-count: 2;
}
/* test3 L4 */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
/* test4 L4 Для font-size со значением 18px требуется отступ под строкой и над строкой по 9px. Задай элементу p свойство line-height в безразмерном виде. */
p {
  line-height: 2;
}
/* test5 L4 */
.boxes,
.cards,
.letter {
  font-size: 36px;
  height: 100px;
  padding: 1rem;
  background-color: goldenrod;
  margin-bottom: 1rem;
}

.box-48 {
  font-size: 48px;
}

.box-72 {
  font-size: 72px;
}

.card {
  height: 36px;
  width: 18px;
}

.card-48 {
  height: 48px;
  width: 36px;
}

.card-72 {
  height: 72px;
  width: 48px;
}

/* Напиши код под этой строкой */
.box,
.card {
  display: inline-block;
  background-color: blueviolet;
  vertical-align: top;
}

.letter::first-letter {
  font-size: 72px;
  vertical-align: top;
}
/* test8 L3 */
[data-transform='none'] {
  text-transform: none;
}

[data-transform='uppercase'] {
  text-transform: uppercase;
}

[data-transform='lowercase'] {
  text-transform: lowercase;
}

[data-transform='capitalize'] {
  text-transform: capitalize;
}
/* test9 L4 */
body {
  font-size: 36px;
  padding: 1rem;
}

/* Напиши код под этой строкой */
.up {
  text-decoration: overline wavy red;
}
.through {
  text-decoration: line-through dashed green;
}
.down {
  text-decoration: underline solid blue;
}
.no {
  text-decoration: none;
}
.combi {
  text-decoration: underline overline double grey;
}
/* test10 L4 */
body {
  font-family: sans-serif;
  font-size: 36px;
  padding: 1rem;
}
/*  offset-x | offset-y | blur-radius | color  */
.one {
  color: blue;
  text-decoration: underline wavy;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 2px hsla(0, 0%, 0%, 0.5);
}
.rings {
  color: orange;
  text-shadow: -15px -8px 0 blue, 14px -8px 0 black, 29px 0 0 green,
    44px -8px 0 red;
}
/* test12 L4 */
.items {
  letter-spacing: 0.25rem;
}
/*  Напиши код под этой строкой */
.item-less {
  letter-spacing: -0.1rem;
}
.item-normal {
  letter-spacing: normal;
}

/* lESSON 5 */
/* test1 L5 Задай элементу с классом child ширину, равную половине ширины родительского элемента. */
.parent {
  background: teal;
  margin-bottom: 1rem;
}

.child {
  background: salmon;
  width: 50%;
/* test2 L5 Задай элементу с классом child минимальную ширину, равную 200px. */
.parent {
  background: teal;
  margin-bottom: 1rem;
}

.child {
  width: 2%;
  background: salmon;
  min-width: 200px;
  
}
/* test3 L5 Задай элементу с классом child максимальную ширину, равную 200px */
.parent {
  background: teal;
  margin-bottom: 1rem;
}

.child {
  width: 90%;
  background: salmon;
  max-width:200px;
}
/* test4 L5 */
.parent {
  background: teal;
  min-height: 30px;
  margin-bottom: 1rem;
}

.child {
  background: salmon;
}
/* test5 L5 
.card {
  background: teal;
  width: 200px;
  min-height: 300px;
}*/

/* test6 L5 */
.parent1 {
  width: 200px;
  min-height: 150px;
  background-color: teal;
  padding: 1rem;
  box-sizing: border-box;
}

.child1 {
  min-height: 150px;
  background-color: goldenrod;
}
/* test7 L5 */

.parent2 {
  width: 200px;
  height: 300px;
  background-color: teal;
  box-sizing: border-box;
}
.child2 {
  border: 1px solid #fff;
  background-color: goldenrod;
  width: 50%;
  height: 50%;
  padding-left: 10%;
  margin-top: 20%;
}
.inner2 {
  background: red;
  height: 100%;
}
/* test8 L5 
.parent {
  width: 200px;
  height: 300px;
  background-color: teal;
  box-sizing: border-box;
  border-top: 1px solid transparent;
}

.child {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  padding-left: 10%;
  margin-top: 20%;
  background-color: goldenrod;
}
.inner {
  background: red;
  height: 100%;
}*/

/* test9 L5
.parent {
  width: 200px;
  height: 300px;
  background-color: teal;
  box-sizing: border-box;
  padding-top: 40px;
  margin-bottom: 20px;
}

.child {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  margin-left: auto;
  margin-right: auto;
  background-color: goldenrod;
} */

/* test9 L5 */
body {
  font-size: 20px;
}
/* 
  ширина container 360  
  или 4 раза по 90  
*/
.container {
  width: 360px;
  margin: auto;
  padding-top: 15px;
  background: burlywood;
  font-size: 0;
}

/* 
  ширина box 15 + 60 + 15
  или 90  
*/
.box {
  width: 60px;
  margin: 0 15px 15px;
  height: 75px;
  line-height: 75px;
  background-color: teal;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

/* test11 L5 */
.container {
  width: 480px;
  margin: auto;
  padding-top: 15px;
  background: burlywood;
  font-size: 0;
}

/* 
  ширина box x + 130 + x
  или 160  
*/
.box {
  width: 130px;
  height: 75px;
  line-height: 75px;
  background-color: teal;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  margin: 0 15px 15px; 
}
/* test12 L5 */
* 
  2 * 15 - это размер, 
  который box-sizing: border-box 
  отнял у width и height

  ширина container 480  - (2 * 15)
  или 3 раза по 160 - (2 * 15)  
*/
.container {
  width: 480px;
  margin: auto;
  padding: 15px;
  background: burlywood;
  font-size: 0;
  box-sizing: border-box;
}

/* 
  ширина box x + 130 + x
  или 160  
  за исключением крайних элементов
*/
.box {
  width: 130px;
  margin: 0 15px 15px;
  height: 75px;
  line-height: 75px;
  background-color: teal;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.box:nth-of-type(3n+1) {
  margin-left: 0;
}

.box:nth-of-type(3n) {
  margin-right: 0;
}

.box:nth-last-of-type(-n+3) {
  margin-bottom: 0;
}